*{
    overflow-x: hidden;
   
      
}
::-webkit-scrollbar {
    width: 15px; /* Width of the scrollbar */
  }
::-webkit-scrollbar-track {
    background: #160d0d;
  }
  ::-webkit-scrollbar-thumb {
    /* background: #D0D6F9;
    border-radius: 5px;  */
    background: linear-gradient(45deg, #D0D6F9, #e52e71);
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* For the scrollbar handle or thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: 2px solid #f1f1f1;
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1; /* Color behind the scrollbar corner */
  }

  .bright-number{
    color: white; 
    text-decoration: none; 
    font-weight: bold;
  }
  .dim-names{
    color: white; 
    text-decoration: none; 
    font-weight: bold;
    opacity: 0.7;
  }
/* home page */

.home{
    margin:0px;
    height:100vh;
    width:100vw;
    background-image:url('../public/Images/Home/background-home-desktop.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.left-container{
    display: flex;
    flex-direction: column;
    position: relative;
    left:165px;
    top:187px;
    width: 400px;
}
.text-1{
    color :#D0D6F9;
    letter-spacing:4px;
    font-family:barlow-condensed;
    width: 400px;
    font-size:larger;
    font-weight: bolder;
}
.text-2{
    display: inline-block;
    color: white;
    font-family: 'poppins';
    font-size: 105px;
    font-weight: bolder;
    letter-spacing: 10px;
}

.text-3{
    color :#D0D6F9;
    letter-spacing: 1px;
}
.right-container{
    position: relative;
    left:1300px;
    bottom: 100px;
}

/* Destination stylings */

.destination{
    background-image: url('../public//Images/Destination/background-destination-desktop.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height:100%;
    margin:0px;
    width:100vw;
}

.destination-left{
    position: relative;
    height: 63vh;
    width:50%;
    overflow-y: hidden;
    float: left;
}

.heading-number{
    position: relative;
    color: white;
    font-size: 30px;
    font-family: 'barlow';
    opacity: 0.4;
    letter-spacing: 2px;
    bottom: 420px;
    left:166.5px;
}

.heading-name{
    position: relative;
    color: white;
    font-size: 30px;
    left: 20px;
    font-family: 'montserrat';
    opacity: 0.9;
    letter-spacing: 2px;
    bottom: 420px;
    left:166.5px;
}

.moon-image{
    position: relative;
    top:90px;
    right: 300px;
}

.destination-right{
    color: white;
    float: right;
    width:50%;
}

.planet-names{
    display: flex;
    flex-direction: row;
    letter-spacing: 2px;
    width: 385px;
    position: relative;
    left: 200px;
    flex-grow: 1;
    justify-content: space-around;
    cursor: pointer;
    font-family:'montserrat';
    font-weight: lighter;
}

.right-bottom-container{
    position: relative;
    left: 200px;
    top:40px;
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 70vh;
}

.planet-styles{
   
    font-size: 130px;
    font-family: 'montserrat';
    opacity: 0.8;
    letter-spacing: 2px;
}

.planet-description{
    font-family: 'barlow';
    color: #D0D6F9;
    letter-spacing: 2px;
    font-size: large;
}

.border-bottom{
    position: relative;
    border-bottom: 1px  solid #383B4B;
    bottom: 150px;
    width: 70vh;
    left: 200px;
}

.avg-distance{
    position: relative;
    left: 250px;
    bottom: 110px;
    font-family: 'motserrat';
    color: #D0D6F9;
    letter-spacing: 2px;
}

.distance-km{
    position: relative;
    left: 250px;
    bottom: 100px;
    font-family: 'bellefair';
    font-size: 40px;
}

.avg-time{
    position: relative;
    left: 600px;
    bottom: 173px;
    font-family: 'motserrat';
    color: #D0D6F9;
    letter-spacing: 2px;
}

.time-days{
    position: relative;
    left: 600px;
    bottom: 165px;
    font-family: 'bellefair';
    font-size: 40px;
}

.oval-selected{
    opacity: 1;
}

.oval-blank{
    opacity: 0.2;
}